<div class="mainHeader">
    <div class="row">
        <div class="col-sm-2">
            <div class="headerLogo">
                <img src="assets/images/friend.jpg">
            </div>
        </div>
        <div class="col-sm-10 verticalAlign">
            <div class="headerRight">
                <a href="javascript:void(0)" class="profileIcon"> Profile
                    <i class="fa fa-user" aria-hidden="true"></i>
                </a>
                <a href="javascript:void(0)" class="logoutIcon"> Logout
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>