<div class="container">
    <div class="reset-pwd">
        <h2>Reset Password</h2>
        <form [formGroup]="resetForm" *ngIf="!tokenVerifyError">
            <div class="form-group">
                <label>New Password</label>
                <input placeholder="Enter new password" type="password" class="form-control" formControlName="password">
            </div>

            <div class="form-group">
                <label>Confirm Password</label>
                <input placeholder="Confirm password" type="password" class="form-control"
                    formControlName="confirmPassword">
            </div>

            <div *ngIf="serverError" class="error">
                {{serverError}}
            </div>

            <div>
                <a href="javascript:void(0);" routerLink="/"><u>Click here to login</u></a>
                <button class="resetBtn primary" type="submit" (click)="reset(resetForm.value)">Reset</button>
            </div>
        </form>

        <div *ngIf="tokenVerifyError">
            {{tokenVerifyError}}
            <div>
                <a href="javascript:void(0);" routerLink="/"><u>Click here to login</u></a>
            </div>
        </div>
    </div>
</div>